
@{
    ViewData["Title"] = "CourseSteps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                Course Title
                <br><small class="text-info text-center"></small>
            </h1>
        </div>
    </div>
    <div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span>Step 1</a>
                    </h2>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            <p>This step contains descriptive detail about this specific step. Media is also provided to reinforce what is being explained in this step.</p>
                        </div>
                        <div>
                            <img src="http://placehold.it/300x200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span>Step 2</a>
                    </h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            <p>This step contains descriptive detail about this specific step. Media is also provided to reinforce what is being explained in this step.</p>
                        </div>
                        <div>
                            <img src="http://placehold.it/300x200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span>Step 3</a>
                    </h2>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            <p>This step contains descriptive detail about this specific step. Media is also provided to reinforce what is being explained in this step.</p>
                        </div>
                        <div>
                            <img src="http://placehold.it/300x200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-plus"></span>Step 4</a>
                    </h2>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            <p>This step contains descriptive detail about this specific. Media is also provided to reinforce what is being explained in this step.</p>
                        </div>
                        <div>
                            <img src="http://placehold.it/300x200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-plus"></span>Step 5</a>
                    </h2>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            <p>This step contains descriptive detail about this specific step. Media is also provided to reinforce what is being explained in this step.</p>
                        </div>
                        <div>
                            <img src="http://placehold.it/300x200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-plus"></span>Step 6</a>
                    </h2>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            <p>This step contains descriptive detail about this specific step. Media is also provided to reinforce what is being explained in this step.</p>
                        </div>
                        <div>
                            <img src="http://placehold.it/300x200">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

