
@{
    ViewData["Title"] = "CourseDetail";
}

<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                   Course Title
                </h2>
                <p>
                   This is where users can find introductory information about this specific course. A brief description of the course
                    will be contained here in order to entice users to enroll into the course.
                </p>
                <p style="display:inline;">
                    <a class="btn btn-primary btn-large" href="PaymentDetail">Enroll</a>
                </p>
                <p style="display:inline;">
                    <a class="btn btn-success btn-large" href="CourseSteps">View Course</a>
                </p>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">Curriculum</a>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Step 1
                    </h4>
                    <p class="list-group-item-text">
                        Information about step 1
                    </p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Step 2
                    </h4>
                    <p class="list-group-item-text">
                        Information about step 2
                    </p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Step 3
                    </h4>
                    <p class="list-group-item-text">
                        Information about step 3
                    </p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Step 4
                    </h4>
                    <p class="list-group-item-text">
                        Information about step 4
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



