
@{
    ViewData["Title"] = "Index";
}

<div class="container main">
    <div class="row">
        <div class="col-lg-3 pull-right">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <a class="btn btn-default" href="Home/SearchResults"><i class="glyphicon glyphicon-search"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                Stepify
                <br><small class="text-info text-center">Course Creator</small>
            </h1>
        </div>
    </div>
    <div class="row banner">
        <div class="col-lg-12">
            <img src="http://placehold.it/1110x150" />
        </div>
    </div>
        </div>
        <br>

        <div class="container">
            <div class="flex-row row">

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail ">
                        <img src="http://placehold.it/350x150">
                        <div class="caption">
                            <h3>
                                Course Title
                            </h3>
                            <p class="flex-text text-muted">
                                This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                with media that will enable you to grasp the concepts quickly.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="Home/CourseDetail">Learn more</a>
                            </p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>
            </div>
            <!-- /.flex-row  -->
        </div>
        <!-- /.container  -->
