
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                Search Results
                <br><small class="text-info text-center"></small>
            </h1>
        </div>
    </div>
    <div class="flex-row row">
        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail ">
                <img src="http://placehold.it/350x150">
                <div class="caption">
                    <h3>
                        Course Title
                    </h3>
                    <p class="flex-text text-muted">
                        This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                        with media that will enable you to grasp the concepts quickly.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="CourseDetail">Learn more</a>
                    </p>
                </div>
                <!-- /.caption -->
            </div>
            <!-- /.thumbnail -->
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail ">
                <img src="http://placehold.it/350x150">
                <div class="caption">
                    <h3>
                        Course Title
                    </h3>
                    <p class="flex-text text-muted">
                        This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                        with media that will enable you to grasp the concepts quickly.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="CourseDetail">Learn more</a>
                    </p>
                </div>
                <!-- /.caption -->
            </div>
            <!-- /.thumbnail -->
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail ">
                <img src="http://placehold.it/350x150">
                <div class="caption">
                    <h3>
                        Course Title
                    </h3>
                    <p class="flex-text text-muted">
                        This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                        with media that will enable you to grasp the concepts quickly.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="CourseDetail">Learn more</a>
                    </p>
                </div>
                <!-- /.caption -->
            </div>
            <!-- /.thumbnail -->
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail ">
                <img src="http://placehold.it/350x150">
                <div class="caption">
                    <h3>
                        Course Title
                    </h3>
                    <p class="flex-text text-muted">
                        This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                        with media that will enable you to grasp the concepts quickly.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="CourseDetail">Learn more</a>
                    </p>
                </div>
                <!-- /.caption -->
            </div>
            <!-- /.thumbnail -->
        </div>
    </div>
    <!-- /.flex-row  -->
</div>
<!-- /.container  -->
