@{
    ViewData["Title"] = "UserDashboard";
}
<div class="container main">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4>User Profile</h4></div>
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                        <div class="container">
                            <h2>John Doe</h2>
                            <p><b>Developer</b></p>
                        </div>
                        <hr>
                        <ul class="container details">
                            <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>j.doe</p></li>
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>johndoe@email.com</p></li>
                        </ul>
                        <hr />
                    <div class="col-sm-5 col-xs-6 tital ">
                        <p><a href="UserProfileForm">Edit profile</a></p>
                        <p>Subscribed since: December 10, 2017</p>
                    </div>
                  </div>
               </div>
           </div>
         </div>
            <h2>Courses that you are currently enrolled in:</h2>
            <div class="container">
                <div class="flex-row row">

                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <div class="thumbnail ">
                            <img src="http://placehold.it/350x150">
                            <div class="caption">
                                <h3>
                                    Course Title
                                </h3>
                                <p class="flex-text text-muted">
                                    This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                    with media that will enable you to grasp the concepts quickly.
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="CourseSteps">View Course</a>
                                </p>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.thumbnail -->
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <div class="thumbnail ">
                            <img src="http://placehold.it/350x150">
                            <div class="caption">
                                <h3>
                                    Course Title
                                </h3>
                                <p class="flex-text text-muted">
                                    This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                    with media that will enable you to grasp the concepts quickly.
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="CourseSteps">View Course</a>
                                </p>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.thumbnail -->
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <div class="thumbnail ">
                            <img src="http://placehold.it/350x150">
                            <div class="caption">
                                <h3>
                                    Course Title
                                </h3>
                                <p class="flex-text text-muted">
                                    This course will simplify the exact steps needed to learn and implement the course topic. Each step includes concise detail, along
                                    with media that will enable you to grasp the concepts quickly.
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="CourseSteps">View Course</a>
                                </p>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.thumbnail -->
                    </div>
                </div>
            </div>
        </div>


